.ld-container {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 1.6em;
}

.ld-container > h3 {
    font-weight: 500;
    font-family: sans-serif;
    margin-right: 1.5em;
}

.ld-dropdown {
    padding-right: 23em;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}

#select-placeholder {
    color: white;
    
}

#gobtn {
    margin-left: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: black;
    border-radius: 3px;
    border: 2px solid rgb(78, 78, 78);
    color: white;


}
