@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body {
    background-color: black;
}

.ld-container {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 1.6em;
    border-bottom: 3px solid #e57f00;
}

.locations-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60em;
    margin-left: 3em;
    margin-top: 3em;
    width: 90%;
} 

.locations-container > p {
    font-weight: 300;
    font-family: Roboto Condensed;
    color: rgb(154, 154, 154);
    font-size: 1.3em;
    padding-bottom: 0.6em;
    border-bottom: 1px solid grey;
    width: 100%;
}

.locations-container > h3 {
    font-weight: 300;
    font-family: Roboto Condensed;
    color: rgb(154, 154, 154);
    font-size: 1.2em;
    padding-bottom: 0.6em;
    border-bottom: 1px solid grey;
    width: 100%;
}

.location-over-h1 {
    font-weight: 300;
    font-size: 2em;
    font-family: Roboto Condensed;
    color: #E1821E;
    letter-spacing: 4px;
}

.ld-container > h3 {
    font-weight: 300;
    font-family: Roboto Condensed;
    margin-right: 1.5em;
    font-size: 2em;
    letter-spacing: 3px;
}

.ld-dropdown {
    padding-right: 23em;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 2%;
}

.ld-dropdown::placeholder {
     font-weight: 400;
    font-family: Roboto Condensed;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #757371;
    
}

#select-placeholder {
    color: white;

}

#gobtn {
    margin-left: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: black;
    border-radius: 3px;
    border: 2px solid rgb(78, 78, 78);
    color: white;
}

.option {
    font-family: Roboto Condensed;
    display: block;
    color: white;
    border-bottom: 1px solid rgb(53, 53, 53);
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 0.6em;
    padding-bottom: 0.6em;
}

.option:hover {
    cursor: pointer;
}

.locations-list {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-left: 0.5em;
}

