.quickbookbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 20 rem; */
    background-color: red;
    color: white;
    text-align: center;
 }

 /* Large quickbook bar */
 @media screen and (min-width:500px), (max-width:1700px){
    .quickbookbar{
        background: blue;
    }
}

/* Small quickbook bar */
@media screen and (max-width:500px){
    .quickbookbar{
        background: orange;
    }
}